@charset "utf-8";
/**
 * 共通スタイル
 *==========================*/
 h1 a {
  color: #333;
  text-decoration: none;
 }
 
li {
	list-style-type: none;
}
body {
	width: 760px;
	margin: 0 auto;
}
h2 {
	margin-top: 0;
}
h2 + p {
	margin-top: 0;
}
#content-top {
	padding-top: 59px;
	background: url(bg_top.png) no-repeat center top;
}

#content-bottom {
	padding-bottom: 54px;
	background: url(bg_bottom.png) no-repeat center bottom;
}

#content {
	padding: 0 25px;
	background: url(bg_middle.png) repeat center top;
}

.cf:after {
	display: block;
	content: "";
	clear: both;
}